<template>
  <div class="qc--machine">
    <div class="header--bg">
      <h2 class="white--text text-uppercase">
        qc machines
      </h2>
      <h3 class="caption white--text">
        List of all machines
      </h3>
    </div>
    <Machinelist />
  </div>
</template>

<script>
import Machinelist from '~/components/machineList.vue';

export default {
  head: () => ({
    title: 'QC Machines'
  }),
  components: {
    Machinelist
  }
};
</script>

<style scoped>
.machineqc {
  width: 100%;
}
</style>
