<template>
  <div class="shipped--machine">
    <div class="header--bg">
      <h2 class="white--text text-uppercase">
        shipped machines
      </h2>
      <h3 class="caption white--text">
        List of all shipped machines
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  head: () => ({
    title: 'Shipped machines'
  })
};
</script>
