<template>
  <div class="transferred--machine">
    <div class="header--bg">
      <h2 class="white--text text-uppercase">
        transferred machines
      </h2>
      <h3 class="caption white--text">
        List of all transferred machines
      </h3>
    </div>
    <Machinelist category="transferred" />
  </div>
</template>

<script>
import Machinelist from '~/components/machineList.vue';

export default {
  head: () => ({
    title: 'Transferred machines'
  }),
  components: {
    Machinelist
  }
};
</script>

<style scoped>
.transferred--machine {
  width: 100%;
}
</style>
