<template>
  <div>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <v-card class="px-3 py-2 c-position">
          <v-layout justify-start>
            <v-flex class="px-1">
              <v-text-field
                v-model="search.machineSerialNo"
                label="Serial No."
                clearable
                prepend-inner-icon="mdi-format-list-checkbox"
              />
            </v-flex>
            <v-flex v-if="category === 'qc'" class="px-1">
              <v-text-field
                v-model="search.modelNo"
                label="Part No."
                clearable
                prepend-inner-icon="mdi-globe-model"
              />
            </v-flex>
            <v-flex class="px-1">
              <v-text-field
                v-model="search.vendorName"
                label="Vendor"
                clearable
                prepend-inner-icon="mdi-glasses"
              />
            </v-flex>
            <v-flex class="px-1">
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                offset-y
                transition="scale-transition"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    slot="activator"
                    v-model="search.createdOn"
                    label="Created On"
                    clearable
                    prepend-inner-icon="mdi-calendar-month"
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker v-model="search.createdOn" @input="menu = false" />
              </v-menu>
            </v-flex>
            <v-flex v-if="category === 'qc'" class="px-1">
              <v-select
                v-model="search.machineStatus"
                :items="status"
                item-text="value"
                item-key="key"
                label="Status"
                clearable
                prepend-inner-icon="mdi-google-circles-extended"
                :disabled="category === 'transferred'"
              />
            </v-flex>
            <v-flex v-if="category === 'transferred'" class="px-1">
              <v-text-field
                v-model="search.company"
                label="Company"
                clearable
                prepend-inner-icon="mdi-bank"
                :disabled="category === 'qc'"
              />
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-if="category === 'qc'" column justify-start class="mt-4">
      <v-data-table
        :headers="qcheaders"
        class="elevation-3 px-2 py-4"
        :items="machines"
        :options.sync="options"
        :server-items-length="totalItems"
        :loading="loading"
        :items-per-page="options.itemsPerPage"
        :page="options.page"
      >
        <template v-slot:item.superPackageSerialNumber="{ item }">
          {{ item.superPackageSerialNumber || 'NA' }}
        </template>
        <template v-slot:item.packageSerialNumber="{ item }">
          {{ item.packageSerialNumber || 'NA' }}
        </template>
        <template v-slot:item.state="{ item }">
          <v-chip
            small
            :class="`status--${ machineStat(item.state) }
            white--text my-2 caption text-uppercase`"
          >
            {{ machineStat(item.state) }}
          </v-chip>
        </template>
        <template v-slot:item.createdOn="{ item }">
          {{ format(item.createdOn, 'Do MMM YYYY') }}
        </template>
        <template v-slot:item.action="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                color="yellow darken-2"
                fab
                small
                text
                class="mx-2"
                v-on="on"
                @click="machineInfo(item)"
              >
                <v-icon>mdi-information</v-icon>
              </v-btn>
            </template>
            <span>Machine information</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                color="red darken-3"
                fab
                small
                text
                class="mx-2"
                v-on="on"
                @click="deleteMachine(item)"
              >
                <v-icon>mdi-delete-circle</v-icon>
              </v-btn>
            </template>
            <span>Delete machine</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-layout>
    <v-layout v-else column justify-start class="mt-4">
      <v-data-table
        :headers="transferred"
        class="elevation-3 px-2 py-4"
        :items="machines"
        :options.sync="options"
        :server-items-length="totalItems"
        :loading="loading"
        :items-per-page="options.itemsPerPage"
        :page="options.page"
      >
        <template v-slot:item.createdOn="{ item }">
          {{ format(item.createdOn, 'Do MMM YYYY') }}
        </template>
      </v-data-table>
    </v-layout>
    <v-layout justify-center>
      <v-dialog
        v-model="dialog"
        max-width="290"
        transition="dialog-transition"
      >
        <v-card>
          <v-card-title class="headline">
            Are you sure?
          </v-card-title>
          <v-card-text>
            Delete machine {{ deletItem.serailNumber }}
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="grey darken-3" text @click="dialog = false">
              Cancel
            </v-btn>
            <v-btn color="error" @click="confirmDelete">
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout justify-center>
      <v-dialog
        v-model="infoDialog"
        max-width="700px"
        transition="dialog-transition"
      >
        <v-card>
          <v-card-title class="bg--gradient mb-3">
            <span class="white--text">{{ machine ? machine.machine.serialnumber : '' }}</span>
            <v-spacer />
            <v-btn text color="white" @click="infoDialog = false">
              <v-icon class="text--white">
                mdi-close
              </v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-tabs
              v-model="tab"
              color="primary"
              grow
            >
              <v-tab>
                Machine Information
              </v-tab>
              <v-tab>
                Sensor Information
              </v-tab>
              <!-- <v-tab>
                QC Information
              </v-tab> -->
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-simple-table>
                  <tbody>
                    <tr>
                      <td>Machine Serial Number</td>
                      <td>{{ machine ? machine.machine.serialnumber : '' }}</td>
                    </tr>
                    <tr>
                      <td>Machine Model</td>
                      <td>{{ machine ? machine.machine.models.name : '' }}</td>
                    </tr>
                    <tr>
                      <td>Blower type</td>
                      <td>{{ machine ? machine.machine.blowerType : '' }}</td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-tab-item>
              <v-tab-item>
                <v-simple-table>
                  <tbody>
                    <tr>
                      <td>Sensors</td>
                      <td v-if="machine">
                        <span v-for="(sensor, index) in machine.sensor" :key="index">
                          {{ sensor.sensorId }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <v-btn color="primary" left>
                          Check Connectivity
                        </v-btn>
                      </td>
                      <td>
                        <v-chip small class="error">
                          ST
                        </v-chip>
                        <v-chip small class="success">
                          VAC
                        </v-chip>
                      </td>
                    </tr>
                  </tbody>
                </v-simple-table>
              </v-tab-item>
              <!-- <v-tab-item>
                Third
              </v-tab-item> -->
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import { format } from 'date-fns';

export default {
  props: {
    category: {
      type: String,
      default: 'qc'
    }
  },
  data: () => ({
    machines: [],
    machine: null,
    pageSize: 5,
    pageNum: 1,
    totalItems: null,
    options: {
      page: 1,
      itemsPerPage: 5
    },
    loading: true,
    format,
    menu: false,
    dialog: false,
    infoDialog: false,
    tab: null,
    search: {
      machineSerialNo: null,
      machineStatus: null,
      createdOn: null,
      modelNo: null,
      vendorName: null,
      company: null
    },
    status: [{
      key: '-5',
      value: 'registered'
    }, {
      key: '0',
      value: 'qc_ready'
    }, {
      key: '1',
      value: 'qc_started'
    }, {
      key: '10',
      value: 'qc_restarted'
    }, {
      key: '20',
      value: 'qc_stopped'
    }, {
      key: '200',
      value: 'qc_result_available'
    }, {
      key: '21',
      value: 'qc_passed'
    }, {
      key: '22',
      value: 'qc_failed'
    }, {
      key: '3',
      value: 'transferred'
    }],
    qcheaders: [{
      text: 'SPkg Sl No.',
      align: 'left',
      sortable: false,
      value: 'superPackageSerialNumber'
    }, {
      sortable: false,
      text: 'Pkg Sl No.',
      value: 'packageSerialNumber'
    }, {
      sortable: false,
      text: 'Serial No.',
      value: 'serailNumber'
    }, {
      sortable: false,
      text: 'Part No.',
      value: 'machineSku'
    }, {
      sortable: false,
      text: 'Blower Serial',
      value: 'blowerSerailNumber'
    }, {
      sortable: false,
      text: 'Vendor',
      value: 'vendorName'
    }, {
      sortable: false,
      text: 'Date Created',
      value: 'createdOn'
    }, {
      sortable: false,
      text: 'Status',
      value: 'state'
    }, {
      text: 'Actions',
      value: 'action',
      sortable: false,
      align: 'center'
    }],
    transferred: [{
      sortable: false,
      text: 'Serial No.',
      value: 'serailNumber'
    }, {
      sortable: false,
      text: 'Machine ID',
      value: 'machineId'
    }, {
      sortable: false,
      text: 'Machine Name',
      value: 'name'
    }, {
      sortable: false,
      text: 'Vendor',
      value: 'vendorName'
    }, {
      sortable: false,
      text: 'Date Created',
      value: 'createdOn'
    }, {
      sortable: false,
      text: 'Company Name',
      value: 'company.name'
    }],
    deletItem: {
      id: null,
      serailNumber: null
    }
  }),
  watch: {
    options: {
      handler() {
        this.getApiData();
      },
      deep: true
    },
    search: {
      handler() {
        this.getApiData();
      },
      deep: true
    }
  },
  mounted() {
    this.getApiData();
  },
  methods: {
    machineStat(stat) {
      const { value } = this.status.find(item => item.key === stat.toString()); //eslint-disable-line
      return value;
    },
    async getApiData() {
      this.loading = true;
      try {
        const { page, itemsPerPage } = this.options;
        console.log('page', page);
        console.log('itemsPerPage', itemsPerPage);
        const {
          machineStatus,
          createdOn,
          modelNo,
          vendorName,
          company,
          machineSerialNo
        } = this.search;
        const params = {};
        if (this.category === 'transferred') {
          params.state = 'transferred';
          params.pageNum = page;
          params.pageSize = itemsPerPage;
        } else {
          params.state = machineStatus || 'qc';
          params.pageNum = page;
          params.pageSize = itemsPerPage;
        }
        if (createdOn) {
          params.createdOn = createdOn;
          this.options.itemsPerPage = -1;
          params.pageSize = -1;
          params.pageNum = 1;
          this.options.page = 1;
        }
        if (modelNo) {
          params.modelNo = modelNo;
          this.options.itemsPerPage = -1;
          params.pageSize = -1;
          params.pageNum = 1;
          this.options.page = 1;
        }
        if (machineSerialNo) {
          params.machineSerialNo = machineSerialNo;
          this.options.itemsPerPage = -1;
          params.pageSize = -1;
          params.pageNum = 1;
          this.options.page = 1;
        }
        if (vendorName) {
          params.vendorName = vendorName;
          this.options.itemsPerPage = -1;
          params.pageSize = -1;
          params.pageNum = 1;
          this.options.page = 1;
        }
        if (company) {
          params.company = company;
          this.options.itemsPerPage = -1;
          params.pageSize = -1;
          params.pageNum = 1;
          this.options.page = 1;
        }
        const { machines, total } = await this.$axios.$get('machines', {
          params
        });
        this.loading = false;
        this.machines = machines;
        this.totalItems = total;
      } catch (err) {
        throw new Error('No data found');
      }
    },
    async getMachinesBySerialNo() {
      if (!this.machineSerialNo) {
        this.getApiData();
      } else {
        this.loading = true;
        try {
          const params = {};
          if (this.category === 'transferred') {
            params.state = 'transferred';
          }
          const { machines, total } = await this.$axios.$get(`machines/serial/${this.machineSerialNo}`, {
            params
          });
          this.loading = false;
          this.machines = machines;
          this.totalItems = total;
        } catch (err) {
          throw new Error('No data found');
        }
      }
    },
    deleteMachine(machine) {
      const { id, serailNumber } = machine;
      this.deletItem.id = id;
      this.deletItem.serailNumber = serailNumber;
      this.dialog = true;
    },
    async confirmDelete() {
      this.dialog = false;
      try {
        await this.$axios.$delete(`machines/${this.deletItem.id}`);
        this.getApiData();
      } catch (error) {
        throw new Error('Record not deleted');
      }
    },
    async machineInfo(machine) {
      try {
        this.machine = await this.$axios.$get(`machines/${machine.machineId}`);
        this.infoDialog = true;
      } catch (err) {
        throw new Error('No data found');
      }
    }
  }
};
</script>

<style scoped>
.v-chip.status--registered {
  background: #3083DC;
}
.v-chip.status--qc_ready {
  background: #2EBFA5;
}
.v-chip.status--qc_started {
  background: #4e4187;
}
.v-chip.status--qc_restarted {
  background: #ee964b;
}
.v-chip.status--qc_stopped {
  background: #f4d35e;
}
.v-chip.status--qc_result_available {
  background: #dfb2f4;
}
.v-chip.status--qc_passed {
  background: #7dde92;
}
.v-chip.status--qc_failed {
  background: #f95738;
}
.v-chip.status--transferred {
  background: #0d3b66;
}
</style>
