.bg--gradient, .header--bg, .nav--active {
  background: linear-gradient(45deg, #303f9f, #7b1fa2);
}

.nav--active {
  color: #FFF !important;
}

.header--bg {
  position: absolute;
  width: 100%;
  height: 150px;
  padding: 16px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 959px) {
  .header--bg {
    padding: 16px;
  }
}

.c-position {
  position: relative;
  margin-top: 95px;
}

.qc--machine {
  width: 100%;
}