<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list class="mt-5">
        <v-list-item
          v-for="(link, index) in links"
          :key="index"
          nuxt
          exact
          active-class="nav--active"
          :to="{ name: link.route }"
        >
          <v-list-item-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="link.text" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar flat class="bg--gradient" fixed app>
      <v-app-bar-nav-icon class="white--text" @click.stop="drawer = !drawer" />
      <v-toolbar-title class="text-uppercase white--text">
        <span class="font-weight-light">machine</span>
        <span>QC</span>
      </v-toolbar-title>
      <v-spacer />
      <!-- <v-btn text color="white">
        <span>Sign Out</span>
        <v-icon right>
          mdi-exit-to-app
        </v-icon>
      </v-btn> -->
    </v-app-bar>
    <v-content>
      <v-container fluid fill-height>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    links: [
      {
        icon: 'mdi-plus',
        text: 'Create Machine',
        route: 'index'
      },
      {
        icon: 'mdi-playlist-check',
        text: 'QC Machines',
        route: 'machine-qc'
      },
      {
        icon: 'mdi-transit-transfer',
        text: 'Transferred Machines',
        route: 'machine-transferred'
      },
      {
        icon: 'mdi-truck',
        text: 'Shipped Machines',
        route: 'machine-shipped'
      }
      // {
      //   icon: 'mdi-server',
      //   text: 'QC Datahub',
      //   route: 'datahub'
      // },
      // {
      //   icon: 'mdi-format-list-checks',
      //   text: 'Activity Log',
      //   route: 'activitylog'
      // }
    ]
  })
};
</script>

<style scoped>
.v-list {
  padding: 0 !important;
}
</style>
