<template>
  <div class="create--machine">
    <div class="header--bg">
      <h2 class="white--text text-uppercase">
        create machine
      </h2>
      <h3 class="caption white--text">
        Add machines to QC
      </h3>
    </div>
    <!-- <v-stepper v-model="stepper" vertical>
      <v-stepper-step step="1" :complete="stepper > 1">
        Create machine
        <small>Verify package serial number</small>
      </v-stepper-step>
      <v-stepper-content step="1"></v-stepper-content>
    </v-stepper> -->
  </div>
</template>

<script>
export default {
  head: () => ({
    title: 'Create machine'
  })
};
</script>
